$contentBackground: #21232e;
$buttonColor: #e3ac00;
$buttonShadow: #a87f00;
$headerBtnTextColor: #f2f3f7;
$mainFooterBackground: #3b3f50;
$headMainTextColor: #ffffff;
$textUnderline: #ff4e33;
$footerTextColor: #d1d1d1;
$footerBtnTextColor: #ffffff;
$headerImage: url(../img/m-h-night.jpg);
$logoSectFootFont: 'Freska', sans-serif;
$mainFont: 'Source Sans Pro', sans-serif;
$bannerStart: #e3ac01;
$bannerEnd: #912a53;
