$contentBackground: #ffffff;
$buttonColor: #699900;
$buttonShadow: #527800;
$headerBtnTextColor: #f2f3f7;
$mainFooterBackground: #21232e;
$headMainTextColor: #2c2f3c;
$textUnderline: #14a0c7;
$footerTextColor: #c0c3ce;
$footerBtnTextColor: #ffffff;
$headerImage: url(../img/m-h-day.jpg);
$logoSectFootFont: 'Hind', sans-serif;
$mainFont: 'Source Sans Pro', sans-serif;
$bannerStart: #699901;
$bannerEnd: #2c5ade;
